* {
  font-family: 'Montserrat', sans-serif;

}

.bottomDetails {
  display: flex;
  justify-content: space-between;
}

.humidityWind {
  margin: 20px;
}

p{
  margin: 0;
}

.name {
  display: flex;
  justify-content: center;
}

.temps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1{
  display: flex;
  justify-content: center;
}

s {
  text-decoration: none;
}

.weather-condition-clear {
  background: url("/assets/clear.jpeg") no-repeat center;
  background-size: cover;
  padding: 20px;
}
.weather-condition-clouds{
  background: url("/assets/clouds.jpeg") no-repeat center;
  background-size: cover;
  padding: 20px;
}
.weather-condition-fog {
  background: url("/assets/fog.jpeg") no-repeat center;
  background-size: cover;
  padding: 20px;
}
.weather-condition-rain {
  background: url("/assets/rain.jpeg") no-repeat center;
  background-size: cover;
  padding: 20px;
  color: #fff;
}






@media only screen and (min-width: 575px) {
  .temps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .name p{
    font-size: 5.3em;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px){
  .name {
    font-size: 10px;
  }
}
@media only screen and (max-width: 574px) {
  .insideWeatherC{
     flex-direction: column-reverse;
   }
  .temperature {

  }

}


