<div [ngClass]="{
                  'weather-condition-clear' : weatherCondition === 'Clear',
                  'weather-condition-clouds' : weatherCondition === 'Clouds',
                  'weather-condition-fog' : weatherCondition === 'Foggy',
                  'weather-condition-rain' : weatherCondition === 'Rain'
                }">
  <div class="row insideWeatherC">
    <div class="temps col-sm-6 col-md-4 col-lg-4g">
      <div class="temps">
        <h1 class="temperature">{{temp}}℉</h1>
        <p class="text-center">{{weatherCondition}}</p>
      </div>
      <div class="bottomDetails text-center">
        <div class="top">
          <p>HUMIDITY</p>
          <s class="humidityWind">{{humidity}}</s>
        </div>
        |
        <div class="bottom">
          <p>WIND</p>
          <s class="humidityWind">{{wind}}</s>
        </div>
      </div>
    </div>
    <div class="name col-sm-6 col-md-8 col-lg-8">
      <p>{{name}}</p>
    </div>
  </div>
</div>
