<div class="weather-container m-4">
  <div class="row insideWeatherC">
    <div class="temps col-sm-4">
      <div class="temps">
        <h1>{{temp}}℉</h1>
        <p class="text-center">{{type}}</p>
      </div>
      <div class="bottomDetails text-center">
        <div class="top">
          <p>HUMIDITY</p>
          <s class="humidityWind">{{humidity}}</s>
        </div>
        |
        <div class="bottom">
          <p>WIND</p>
          <s class="humidityWind">{{wind}}</s>
        </div>
      </div>
    </div>
    <div class="name col-sm-8">
      <h2>{{name}}</h2>
    </div>
  </div>
</div>
