<div class="container five-day-container">
  <form class="form-group bg" #cityForm="ngForm" (ngSubmit)="searchCity(cityName)">
    <h1>5-day Forecast: </h1>
    <input type="text" class="form-control" placeholder="City Name" name="cityName"
           [(ngModel)]="cityName" required>
    <button class="btn btn-primary btn-block mt-1" [disabled]="cityForm.form.invalid">Search</button>
  </form>
</div>

<div class="row justify-content-center mt-5">
  <div class="card m-1" *ngFor="let x of forecast">
    <div class="card-header">
      <h3>{{x.date | date}}</h3>
    </div>
    <div class="card-body d-flex flex-column align-items-center">
      <div class="weather-icons text-center">
        <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="weather icons" class="icon-png">
        <p><small>{{x.description}}</small></p>
      </div>
      <ul class="ulInfo d-flex flex-column">
        <li><i class="fas fa-plus"></i> Max Temp: {{x.maxTemp}}&deg;</li>
        <li><i class="fas fa-minus"></i> Min Temp: {{x.minTemp }}&deg;</li>
      </ul>
    </div>
  </div>
</div>
