/* You can add global styles to this file, and also import other style files */
body {
  background: url("src/assets/bg.jpeg") no-repeat center right fixed;
  background-size: cover;
  overflow: hidden;

}
